:root{
	--charcoal: #2E5266;
	--slategray: #6E8898;
	--cadetgray: #9FB1BC;
	--timberwolf: #D3D0CB;
	--oldgold: #E2C044;
}

html {
	height: 100%;
}

body {
	background-color: var(--timberwolf);
	font-family:helvetica;
	margin: 0px;
	height: 100%;
}

table {
	width: 100%;
	margin-left: 8%;
	margin-right: 8%;
}

.side {
	flex: 30%;
	background-color: var(--charcoal);
	outline: 3px solid var(--cadetgray);
}

.side h1 {
	font-size: 50px;
	color: var(--cadetgray);
	text-align:left;
}
.side h2 {
	font-size: 30px;
	color: var(--timberwolf);
	padding-left: 5%;
	padding-right: 5%;
}

.side h3 {
	font-size: 20px;
	color: var(--oldgold);
	padding: 5%;
}

.side p {
	color: var(--cadetgray);
	text-align:left;
}

.main {
	flex: 70%;
}

.main h1 {
	font-size: 20px;
	color: var(--slategray);
	text-align: left;
	padding-left: 10%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
}

.profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid var(--oldgold);
	margin: 5%;
}

.nav-button {
	flex: 50%;
}

.nav-button h1 {
	font-size: 30px;
	color: var(--charcoal);
	text-align: center;
}

.half {
	flex: 50%;
	margin:auto;
}

.profile-pic-container {
	display: flex;
	flex-wrap: wrap;
}