:root{
	--charcoal: #2E5266;
	--slategray: #6E8898;
	--cadetgray: #9FB1BC;
	--timberwolf: #D3D0CB;
	--oldgold: #E2C044;
}

html {
	height: 100%;
}

body {
	background-color: var(--charcoal);
	margin: 0px;
	height: 100%;
}

.side {
	flex: 30%;
	background-color: var(--timberwolf);
}

.side h1 {
	font-size: 40px;
	color: var(charcoal);
	text-align:center;
}
.side h2 {
	font-size: 20px;
	color: var(charcoal);
}

.main {
	flex: 70%;
}

.main h1 {
	font-size: 20px;
	color: var(--oldgold);
	text-align: left;
	padding-left: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.center {
  margin: auto;
  width: 50%;
  position: 50%;
  padding: 10px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.half {
	flex: 50%;
}

.profile-pic-container {
	display: flex;
	flex-wrap: wrap;
}